@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #232931;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #4ECCA3;
    --cor-hover: #393E46;

    --fonte-primaria: 'Krona One', 'sans-serif';
    --fonte-secundaria: 'Montserrat', 'sans-serif';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}



.cabecalho {
    padding: 3% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__imagem {
    width: 50%;
    border: 4px solid var(--cor-terciaria);
    border-radius: 30px;
}

.apresentacao__imagem__curriculo {
    width: 50%;
    border: 4px solid var(--cor-terciaria);
    border-radius: 30px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.apresentacao__conteudo-curriculo {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.destaque-texto {
    display: flex;
    justify-content: space-between;
    width: 270px;
    color: var(--cor-terciaria);
    font-weight: bold;
    text-decoration: none;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;   
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);   
    font-weight: 600;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.destaque-texto:hover {
    color: lime;
}

.logo__whatsapp {
    width: 30px;
    height: 30px;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400px;
}

.fullstack {
    font-weight: bold;
    color: var(--cor-terciaria);
}

.lista__item {
    font-size: 1.4rem;
    font-family: var(--fonte-secundaria);
}

strong {
    color: var(--cor-terciaria);
}

.link__certificado {
    text-decoration: none;
    color: var(--cor-terciaria);
    font-weight: bold;
    font-family: var(--fonte-secundaria);
}

.link__certificado:hover {
    color: #00FF7F;
}

.apresentacao-curriculo {
    width: 100%;
    box-sizing: border-box;
    padding: 5% 15% 5% 15%;
    gap: 40px;
}

@media (max-width: 1400px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao-curriculo {
        width: 5% 15%;
    }

    .apresentacao__conteudo-curriculo {
        width: auto;
    }
}
